{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Pokemon</title>
    <link href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
</head>
    <body>
        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="adjust-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'assets/img/logo.png' %}" height="50">
                        </a>
                    </div>
                    <span class="logout-spn">
                        <a href="#" style="color:#fff;">
                            API Pokemon
                        </a>  
                    </span>
                    <br>
                </div>
            </div>
            <div id="page-wrapper">
                <div id="page-inner">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-lg-12">
                       ©  2019 Created By : <a href="https://www.linkedin.com/in/carlos-oliveros-2a347358/" style="color:#fff;" target="_blank">Carlos Oliveros</a>
                </div>
           </div>
        </div>
    </body>
</html>